<div class="user-details">
 <h1>Whatcha reading today, doc?!</h1>
</div>
<div class="user">
  <div class="tech">
    <p>Welcome to BookLook! BookLook is a recommender system for book readers which aims to assist users in the task 
     of finding the next book to read. BookLook will take into account both the dislikes and likes of the reader and 
     his/her friends to recommend the “Next book to read”.</p>
  </div>
</div>
<div class="members">
  <div class="listofmembers">
   <h3>Team Members</h3>
   <p>Karthikeyan Kathiresan</br>
 Mansi Sharma</br>
Megha</br>
Priyadharsheni Balasubramanian</br>
   </p>
  </div>
</div>

