<div class="user-details">
 <h1>Code Logistics</h1>
</div>
<div class="user">
  <div class="tech">
    <p align="center">The ipynb files with the code can be found in the below location. There are 3 separate files in the location.
    The file BookLook_final.ipynb is the file that has the LHSCM implememntation. The BookLook_SVD.ipynb is the file that has 
    the SVD model implementation and BookLook_RBM has the Neural network model implementation.</br>
    <a href="https://github.com/fnumegha/BookLook/tree/master/Code" target="_blank">https://github.com/fnumegha/BookLook/tree/master/Code</a>
    </p>
   </div>
  </div>
