<div class="user-details">
  <h1>Neural Networks: RBM</h1>
  
</div>

<div class="user">
    <div class="tech">      

      <div class="contents4">
      <p> We go beyond our model to construct a neural network using Restricted Boltzman Machines (RBM) which constructs 
        the feature vectors by itself when trained. An RBM network is an undirected bipartite network with visible nodes on one side and hidden nodes on the other side with the edges between
        them as weights.
        Think of the visible nodes as Books and the hidden nodes as latent factors (eg: genre, author, bestseller etc.). The
         network goes on in training by updating the weights from visible to hidden nodes in one iteration and then updating
        the weights again from hidden to visible nodes in the next iteration and so on. During testing, we evaluate the model
        on the latent vectors/feature vectors that the network learnt by itself during training.
        We see that RBM improves the RMSE to 0.58, which is the least for all the models tested by us. </p>
      </div>
            </div>
                  </div>
