<div class="user-details">
  <h1>Related Work</h1>
  
</div>
  <div class="user">
    <div class="tech">
      <p>There are existing book recommending systems in the market. Goodreads is one such example, it provides 
        personalised recommendations based on user interests and collaborative models. These recommendations are
        based on books the user recently shelved, and from the overall ratings of books provided by all the users
        on the platform. However, Goodreads does not seem to take into account the likes and dislikes of a user’s 
        friends while recommending books to the user. BookLook does take this dislike/hate feature into account. 
        [1] talks about how the most powerful signal in predicting a user’s high rating of an item comes from what 
        items he or his friends dislike.</p>
   </div>
</div>
