<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="teammembers">
        {% include teammembers.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
      <section id="relatedwork">
        {% include relatedwork.html %}
      </section>
      <section id="lhscm">
        {% include lhscm.html %}
      </section>
      <section id="evaluation">
        {% include results.html %}
      </section>
      <section id="rbm">
        {% include NeuralNets.html %}
      </section>
      <section id="references">
        {% include references.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
